/*
 * the CSS stylesheet for kisom.github.com
 * it was written by kyle isom, the owner of said account.
 *
 * designed for a page with a static header and footer with a body generated via
 * markdown. i am not a webdeveloper. this probably sucks. 
 *
 * uses the 'solarized' colour scheme: http://ethanschoonover.com/solarized
 */

/* baseline body settings */
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #111;
	text-align: center;
	margin-top: 1.0em;
	background-color: #fdf6e3;	/* light */
	color: #657b83;				/* light */
	
	background-color: #002b36;	/* dark  */
	color: #839496;				/* dark  */
}

h1 {
	/* font-family: Cufon; */
        font-family: Cochin, Arial, Georgia, Helvetica, serif;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
}

h2 {
        font-family: Cochin, Arial, Georgia, Helvetica, serif;
	font-size: 20px;
}

#main {
	margin: auto;
	width: 600px;
	text-align: left;
	color: #657b83;				/* light */
	color: #839496;				/* dark  */
}

.image {
	text-align: center;
}

a { 
	color: #B58900;				/* light */
	color: #586e75;				/* dark  */
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}
