/*
 * the CSS stylesheet for kisom.github.com
 * it was written by kyle isom, the owner of said account.
 *
 * designed for a page with a static header and footer with a body generated via
 * markdown. i am not a webdeveloper. this probably sucks. 
 *
 * uses the 'solarized' colour scheme: http://ethanschoonover.com/solarized
 */

/* baseline body settings */
body {
	font-family: Cochin, Helvetica, Georgia, Arial, sans-serif;
	font-size: 18px;
	text-align: center;
	margin-top: 1.0em;
	background-color: #fdf6e3;	        /* light: base3 */
	color: #657b83;						/* light: base00 */
	
	background-color: #002b36;	        /* dark: base03 */
	color: #839496;						/* dark: base0 */
}

h1 {
	/* font-family: Cufon; */
        font-family: Cochin, Arial, Georgia, Helvetica, serif;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
}

h2 {
        font-family: Cochin, Arial, Georgia, Helvetica, serif;
	font-size: 20px;
}

#main {
	margin: auto;
	width: 600px;
	text-align: left;
	color: #657b83;				/* light: base 00 */
	color: #839496;				/* dark: base0 */
}

.image {
	text-align: center;
}

a { 
	color: #B58900;				/* light: yellow */
        color: #93a1a1;         /* dark: base1 */
        font-weight: bold;
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}
